<p>
    <mat-toolbar color="primary">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>

      </button> -->
        <span>Book Store</span>
        <span class="example-spacer "></span>
        <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
        </button>
        <button mat-button routerLink="/books">All-books</button>
        <span class="example-spacer "></span>
        <button mat-button routerLink="/auth/login">Login</button>
        <button mat-button routerLink="/auth/signup">Sign up</button>
    </mat-toolbar>
</p>